.home-container{
    display: flex;
    .all-movies{
        /* width: 75%; */
        width: auto;
        min-height: 720px;
        border-right: 1px solid #fdc827;
        padding: 20px 40px;
        font-family: "Roboto",sans-serif;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            h4{
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid #ff9900;
                padding-left: 10px;
            }
            .view-all{
                color: #ff9900;
                cursor: pointer;
            }
        }
        .movies-thumbnail{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .movie{
                .cover{
                    img{
                        border-radius: 5px;
                    }
                }
                .detail{
                    width: 180px;
                    .name{
                        font-weight: bold;
                        height: 50px;
                        margin-top: 5px;
                        cursor: pointer;
                    }
                    
                }
            }
        }
    }
    .popular-movies{
        width: 25%;
        min-height: 720px;
        padding: 20px 40px;
        font-family: "Roboto",sans-serif;
    }
    .popular-movies h4{
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #ff9900;
        padding-left: 10px;
    }
     .view-all{
        text-align: right;
        color: #ff9900;
        margin-top: 10px;
        cursor: pointer;
    }
}
.rating {
    padding-right: 45px;
    position: relative;
    .rating-value {
      position: absolute;
      top: 10px;
      right: 0px;
      font-weight: bold;
    }
  }
  .form-group{
    padding-top: 10px;
}
  .form-group label{
    font-weight: bold;
    margin-bottom: 5px;
 }

